<table class="cal">
  <thead>
  <tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 7.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
  </thead>
  <tbody>
  <tr>
    <% day = calendar.startdt
       while day <= calendar.enddt %>
        <%= ("<td class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</td>".html_safe) if day.cwday == calendar.first_wday %>
        <td class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if User.current.today == day %><%= ' holiday' if calendar.holiday?(day) && day.month==calendar.month %><%= ' weekend' if calendar.holiday?(day) && calendar.weekend?(day) && day.month==calendar.month %>">
          <p class="day-num"><%= day.day %></p>
            <% calendar.events_on(day).each do |i| %>
                <% if i.is_a? PeopleHoliday %>
                  <%# unless calendar.weekend?(day) %>
                    <div class="<%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %> tooltip">
                      <span class="icon no-icon"></span>
                      <%= i.name %>
                      <% if i.description.present? %>
                          <span class="tip"><%= i.description %></span>
                      <% end %>
                    </div>
                  <%# end %>
                <% elsif i.is_a?(PeopleInformation) && i.person %>
                    <div class="birthday tooltip">
                      <span class="icon icon-cake"></span>
                      <%= link_to i.person.name, person_path(i.person) %>
                      <span class="tip"><%= render_person_tooltip(i.person) %></span>
                    </div>
                <% elsif i.is_a? Dayoff %>
                    <div class="<%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %> tooltip">
                      <span class="icon no-icon"></span>
                      <%= i.name %>
                      <% if i.notes.present? %>
                          <span class="tip"><%= i.notes %></span>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
        </td>
        <%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
        <% day = day + 1
       end %>
  </tr>
  </tbody>
</table>
