<h2><%=l(:label_people_holiday_new)%></h2>

<%= labelled_form_for @holiday, :url => people_holidays_path,
                      :html => {:id => 'people_holiday', :multipart => true} do |f| %>
    <%= error_messages_for 'holiday' %>
    <div class="box tabular">
      <div id="all_attributes">
        <%= render :partial => 'form', :locals => {:f => f} %>
      </div>
    </div>

    <%= submit_tag l(:button_create) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'people/sidebar' %>
<% end %>
